@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.header {
    width: 1440px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    margin-left: 300px;
    /* margin-right:258px; */
}

.calculator {
    width: 1440px;
    margin: 35px auto 45px;
}

.calc-box {
    margin-left: 300px;
    /* margin-right:316px; */
    width: 808px;
    display: flex; 
    justify-content: space-between;
    vertical-align: baseline;
    /* border: 1px solid lightgray; */
}

.calc-item {
    width: 360px;
    display: inline-block;
    vertical-align: top;
}

.calc-arrow {
    padding-top: 150px;
}

.button-calc-arrow {
    display: block;
    width: 40px;
    height: 70px;
    background-image: url(./img/arrow_transfer.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    margin: 0 auto;
}

.calc-title{
    font-size: 16px;
    margin: 10px 0px;
}

.calc-currency {
    display: flex;
    justify-content: space-between;
    border: 1px solid #E5E5E5;
    color: #C6C6C6;
    border-radius: 3px;
}

.calc-currency-item {
    width: 85px;
    height: 40px;
    border: 1px soild lightgrey;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #E5E5E5;
    color: #C6C6C6;
    background-color: white;
}

.calc-currency-select {
    width: 85px;
    height: 40px;
    border: 1px soild lightgrey;
    padding: 12px;
    text-align: center;
    border: 1px solid #E5E5E5;
    color: #C6C6C6;
    background-color: white;
}

.calc-input {
    margin: 24px 0;
    padding: 30px 20px 15px;
    border: 1px solid #cdcdcd;
}

.calc-input-field {
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: 700;
    line-height: 42px;
    width: 100%;
    border: none;
}